@{
    ViewBag.Title = "Azure Lists";
}
@model List<AzureLists.Website.Models.Api.List>
<!-- Sidebar Holder -->
<nav id="sidebar">

    <div class="sidebar-header">
        <a class="sidebarCollapse">
            <span class="glyphicon glyphicon-align-justify"></span>
        </a>
        <img src="~/content/Images/logo.png" />
    </div>

    <ul class="list-unstyled lists">
        @foreach (var lst in Model)
        {
            <li class="active">
                <a href="/?list=@lst.Id">
                    @if (lst.Name.ToLower().Trim() == "inbox")
                    {
                                <i class="glyphicon glyphicon-envelope"></i>
                    }
                    else if (lst.Name.ToLower().Trim() == "this week")
                    {
                                <i class="glyphicon glyphicon-calendar"></i>
                    }
                    else if (lst.Name.ToLower().Trim() == "important")
                    {
                                <i class="glyphicon glyphicon-star"></i>
                    }
                    else
                    {
                                <i class="glyphicon glyphicon-th-list"></i>
                    }
                    <p>@lst.Name</p>
                </a>
            </li>
        }
    </ul>

     

</nav>
