@{
    ViewBag.Title = "Azure Lists";
}


<!-- Page Content Holder -->
<div id="task">
    <form>
        <div class="task-edit-header">
            <div class="form-group">
                <a class="btn btn-default btn-xs btn-task-complete pull-left"><span class="glyphicon glyphicon-ok"></span></a>
                <textarea rows="2" class="blend pull-left">Get milk and bread</textarea>
                <a class="btn btn-danger btn-xs btn-task-important pull-left"><span class="glyphicon glyphicon-star"></span></a>
            </div>
            <div class="clear-fix"></div>
        </div>
        <div class="task-edit-body">

            
          
            <div class="form-group">
                <label>Due</label>
                <input type="datetime" id="datepicker" class="form-control datepicker">
            </div>
            <div class="form-group">
                <label for="exampleInputFile">Notes</label>
                <textarea class="form-control "></textarea>
            </div>
            
            <button type="submit" class="btn btn-default btn-primary hideTask pull-right">Save</button>


        </div>
    </form>
</div>