@{
    ViewBag.Title = "All Lists";
}
@model AzureLists.Website.Models.ListsViewModel

<div id="wrapper" class="wrapper edit-task-collapsed">
    @Html.Partial("~/Views/Home/_lists.cshtml", Model.Lists)
    @Html.Partial("~/Views/Home/_tasks.cshtml", Model.SelectedList)
    @Html.Partial("~/Views/Home/_task.cshtml")
    
</div>