@{
    ViewBag.Title = "All Lists";
}

<div id="wrapper" class="wrapper edit-task-collapsed">
    @Html.Partial("~/Views/Home/_lists.cshtml")
    @Html.Partial("~/Views/Home/_tasks.cshtml")
    @Html.Partial("~/Views/Home/_task.cshtml")
</div>